@import 'variables';
@import 'global';

// ======== Top Header ========
.top-header {
    background: $light;

    .top-header-body {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5rem;
        padding: 1rem 0;

        p {
            font-size: 1.4rem;
            display: flex;
            gap: 2rem;
            position: relative;
        }

        .divider {
            display: block;
            height: 1.5rem;
            width: 1px;
            background: $gray;
        }

        .login {
            margin-left: auto;
        }
    }
}

// ======== Header ========
.header {
    height: 8rem;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;

        ul {
            display: flex;
            align-items: center;

            gap: 3rem;

            li {
                .nav-link {
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }

    .action {
        display: flex;
        align-items: center;
        gap: 3rem;

        .icon {
            font-size: 2.4rem;
        }
    }
}

// ======== Top Actions ========
.top-actions {
    margin-bottom: 4rem;

    .actions {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 6rem;
    }

    .category-btn {
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 1.4rem;
        gap: 2rem;
        border-radius: 5px;
        outline: none;
        border: none;
        color: white;
        background: $primary;
        font-size: 1.8rem;

        span {
            &:last-of-type {
                margin-left: auto;
            }
        }

        .fa-chevron-down {
            transition: all 0.3s;
        }

        &:hover {
            .fa-chevron-down {
                transform: rotateX(180deg);
            }
        }
    }

    .search-form {
        flex-grow: 2;
        height: 100%;
        display: flex;
        border: 2px solid $light-gray;
        border-radius: 5px;
        outline: none;

        input {
            width: 100%;
            border: none;
            outline: none;
            padding: 1rem 2rem;
        }

        .divider {
            display: block;
            height: 80%;
            margin: auto 0;
            width: 1px;
            background: $light-gray;
        }

        .category-select {
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 1rem 1rem;

            select {
                border: none;
                outline: none;
                appearance: none;
                -webkit-appearance: none;
                display: flex;

                option {
                    padding: 2rem;
                    appearance: none;
                    -webkit-appearance: none;
                    line-height: 2px;
                }
            }

            .open {
                position: absolute;
                right: 1rem;
            }
        }

        .submit-btn {
            width: 8rem;
            display: block;
            aspect-ratio: 1/1;
            border: none;
            outline: none;
            box-shadow: 0px 0px 0px 2.1px $primary;
            background: $primary;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 1.8rem;
            color: $white;
            position: relative;
            z-index: 10;
            overflow: hidden;
            transition: all 0.7s;

            &::after {
                content: '';
                position: absolute;
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                bottom: -10rem;
                right: -10rem;
                z-index: -2;
                background: $black;
                transition: all 0.7s;
            }

            &:hover {
                box-shadow: 0px 0px 0px 2.1px green;

                &::after {
                    width: 60rem;
                    height: 60rem;
                    background: green;
                }
            }
        }
    }

    .promotion {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        border-radius: 5px;
        border: 2px solid $light-gray;
        background: transparent;
        font-size: 1.4rem;
        font-family: 'Rubik';
        position: relative;
        overflow: hidden;
        transition: all 0.3s;

        span {
            color: $secondary;
            font-weight: 700;
            font-size: 1.6rem;
            transition: all 0.3s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            bottom: -10rem;
            right: -10rem;
            z-index: -2;
            background: $black;
            transition: all 0.7s;
        }

        &:hover {
            color: white;

            span {
                color: $white;
            }

            &::after {
                width: 60rem;
                height: 60rem;
                background: $black;
            }
        }
    }
}

// ======== Hero Section ========

.hero {
    margin-bottom: 10rem;
}

.hero-content {
    height: 64rem;
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem 3rem;

    .first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 13rem;
        gap: 4rem;
        background-image: url('../assets/images/slider_bg_71.jpg');
        background-position: center;
        background-size: cover;
        grid-row: 1/-1;

        h2 {
            font-weight: 400;
            color: $white;
        }

        h1 {
            color: $white;
            font-size: 4.6rem;
            letter-spacing: -1.1px;
        }

        .btn-group {
            display: flex;
            gap: 4rem;

            .btn-link1 {
                display: block;
                color: $secondary;
                padding: 1.6rem 3.8rem;
                border: 2px solid $secondary;
                border-radius: 3px;
                font-weight: 500;
                transition: all 0.3s;

                &:hover {
                    background: $black;
                    color: $white;
                }
            }

            .btn-link2 {
                display: block;
                color: $black;
                padding: 1.6rem 3.8rem;
                border-radius: 3px;
                background: $primary;
                font-weight: 500;
                transition: all 0.3s;

                &:hover {
                    background-color: green;
                    color: $white;
                }
            }
        }
    }

    .second,
    .third {
        position: relative;
        background-image: url('../assets/images/banner-campaign-51-1-1.png');
        background-position: center;
        background-size: cover;
        overflow: hidden;

        .link {
            display: block;
            height: 100%;
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 150%;
            height: 150%;
            background-color: rgba(224, 224, 224, 0.397);
            bottom: 120%;
            left: 120%;
            transition: all 1s;
            transform: rotate(45deg);
            pointer-events: none;
        }

        &:hover {
            &::after {
                left: -120%;
                bottom: -120%;
            }
        }
    }

    .third {
        background-image: url('../assets/images/banner-campaign-61-1.jpg');
    }
}

// ========Banner Section========

.banner-section {
    margin-bottom: 0.8rem;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    height: 32rem;
    gap: 4rem;
    margin-bottom: 10rem;

    a {
        height: 100%;
        width: 100%;
    }

    .first,
    .second,
    .third {
        height: 100%;
        width: 100%;
        position: relative;
        background-image: url('../assets/images/offer_banner_21-1-1-1.jpg');
        background-position: center;
        background-size: cover;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            width: 150%;
            height: 150%;
            background-color: rgba(224, 224, 224, 0.397);
            bottom: 120%;
            left: 120%;
            transition: all 1s ease;
            transform: rotate(45deg);
            pointer-events: none;
        }

        &:hover {
            &::after {
                left: -120%;
                bottom: -120%;
            }
        }
    }

    .second {
        background-image: url('../assets/images/offer_banner_31-1-1-1.png');
    }

    .third {
        background-image: url('../assets/images/offer_banner_41-1-1-1.jpg');
    }
}

// ======== Banner Section ========
.top-categories {
    margin-bottom: 12rem;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.3px solid $border-clr;
        margin-bottom: 2rem;

        h3 {
            font-weight: 500;
        }
    }

    .btn-group {
        display: flex;
        height: 100%;
        gap: 2rem;

        .category-btn {
            height: 6rem;
            position: relative;
            display: block;
            border: none;
            outline: none;
            background: none;
            z-index: 10;
            font-family: 'Rubik', sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            color: $gray;
            transition: all 0.3s;

            &:hover {
                color: $primary;
            }
        }

        .active {
            color: $primary;

            &::before {
                content: '';
                height: 2px;
                width: 70%;
                position: absolute;
                left: 50%;
                bottom: -0.5px;
                transform: translateX(-50%);
                background: $primary;
                z-index: 10;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 10;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                border: 6px solid transparent;
                border-top: 6px solid $primary;
            }
        }
    }
}

.top-categories-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;

    .product {
        grid-template-columns: 12rem 1fr;
        display: grid;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0.3px;
            height: 80%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $border-clr;
        }

        .img-box {
            height: 100%;
            width: 100%;
            padding: 1rem;
            object-fit: cover;

            img {
                transition: all 0.2s;
                opacity: 1;
            }
        }

        .content {
            h4 {
                margin-bottom: 1rem;
                font-weight: 500;
            }

            .price {
                color: $secondary;
                font-weight: 500;
                font-size: 2rem;

                span {
                    color: $gray;
                    text-decoration: line-through;
                    margin-right: 0.5rem;
                }
            }
        }

        &:hover {
            img {
                opacity: 0.7;
            }
        }

        .icon {
            position: absolute;
            top: 2rem;
            right: 2rem;
            color: $primary;
            transition: all 0.2s;

            &:hover {
                color: $gray;
            }
        }
    }
}

// ======== Sale Section ========
.sales-section {
    padding: 12rem 0;
    background-color: $light;
}

.sales-body {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    // height: 62rem;
    gap: 3rem;

    .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .sale-card1,
        .sale-card2 {
            width: 100%;
            height: 100%;
            background-image: url('../assets/images/hand_watch1-1-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;
                padding: 2rem;
            }

            span {
                color: $secondary;
            }

            p {}

            h4 {
                font-family: 'Roboto', sans-serif;
            }
        }

        .sale-card2 {
            background-image: url('../assets/images/laptop1-1-1.png');
        }
    }

    .right {
        display: flex;
        flex-direction: column;

        header {
            grid-column: 1/-1;
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.3px solid $border-clr;
            margin-bottom: 2rem;

            h3 {
                font-weight: 500;
            }

            .btn-group {
                display: flex;
                height: 100%;
                gap: 2rem;

                .category-btn {
                    height: 6rem;
                    position: relative;
                    display: block;
                    border: none;
                    outline: none;
                    background: none;
                    z-index: 10;
                    font-family: 'Rubik', sans-serif;
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: $gray;
                    transition: all 0.3s;

                    &:hover {
                        color: $primary;
                    }
                }

                .active {
                    color: $primary;

                    &::before {
                        content: '';
                        height: 2px;
                        width: 70%;
                        position: absolute;
                        left: 50%;
                        bottom: -0.5px;
                        transform: translateX(-50%);
                        background: $primary;
                        z-index: 10;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        z-index: 10;
                        left: 50%;
                        top: 100%;
                        transform: translateX(-50%);
                        border: 6px solid transparent;
                        border-top: 6px solid $primary;
                    }
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 100%;

            .card {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 3rem;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0.3px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    background-color: $light;
                }

                .img-box {
                    width: 100%;
                    height: 100%;
                    padding: 2rem;

                    img {
                        transition: all 0.3s;
                        object-fit: contain;
                    }
                }

                input[type='range'] {
                    outline: 0;
                    border: 0;
                    border-radius: 500px;
                    width: 200px;
                    max-width: 100%;
                    margin: 24px 0 16px;
                    transition: box-shadow 0.2s ease-in-out;
                    margin-bottom: 3rem;

                    // Chrome
                    @media screen and (-webkit-min-device-pixel-ratio: 0) {
                        & {
                            overflow: hidden;
                            height: 20px;
                            -webkit-appearance: none;
                            background-color: #ddd;
                        }

                        &::-webkit-slider-runnable-track {
                            height: 20px;
                            -webkit-appearance: none;
                            color: #444;
                            // margin-top: -1px;
                            transition: box-shadow 0.2s ease-in-out;
                        }

                        &::-webkit-slider-thumb {
                            width: 120px;
                            -webkit-appearance: none;
                            height: 20px;
                            cursor: ew-resize;
                            background: #fff;
                            box-shadow: -340px 0 0 320px $primary,
                                inset 0 0 0 40px $primary;
                            border-radius: 50%;
                            transition: box-shadow 0.2s ease-in-out;
                            position: relative;
                            // top: 1px;
                        }

                        &:active::-webkit-slider-thumb {
                            background: #fff;
                            box-shadow: -340px 0 0 320px $primary,
                                inset 0 0 0 3px $primary;
                        }
                    }

                    // Firefox
                    &::-moz-range-progress {
                        background-color: #43e5f7;
                    }

                    &::-moz-range-track {
                        background-color: #9a905d;
                    }

                    // IE
                    &::-ms-fill-lower {
                        background-color: #43e5f7;
                    }

                    &::-ms-fill-upper {
                        background-color: #9a905d;
                    }
                }

                h4 {
                    margin-bottom: 1rem;
                    font-weight: 500;
                }

                h5 {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-bottom: 2rem;

                    span {
                        color: $primary;
                    }
                }

                .price {
                    color: $secondary;
                    font-weight: 500;
                    font-size: 2rem;
                    margin-bottom: 3rem;

                    span {
                        color: $gray;
                        text-decoration: line-through;
                        margin-right: 0.5rem;
                    }
                }

                &:hover {
                    img {
                        opacity: 0.7;
                    }
                }

                .time {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    padding: 0 4rem;

                    div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 1.4rem;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 4rem;
                            height: 4rem;
                            background: $primary;
                            border-radius: 50%;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

// ======== Women Section ========
.clothing-body {
    display: grid;
    margin: 10rem 0;
    grid-template-columns: 30rem 1fr;
    gap: 1.4rem;
    border: 2px solid $light;

    .sidebar {
        background-color: rgb(4, 168, 197);
        position: relative;
        z-index: 1;
        padding: 4rem;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url('../assets/images/women_bg-1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            opacity: 0.1;
            z-index: -1;
        }

        h3 {
            margin-bottom: 4rem;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            li {
                a {
                    color: white;
                    font-weight: 500;
                    padding: 1rem;
                }
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .img-box {
            grid-row: 1/-1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            img {
                transition: all 0.3s;
            }

            &:hover {
                img {
                    opacity: 0.5;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h4 {
                margin-bottom: 1rem;
            }

            .price {
                font-size: 1.4rem;
                color: $secondary;
            }
        }
    }
}

//  ======== Men Section ========

.men-clothing {
    .clothing-body {
        display: grid;
        margin: 10rem 0;
        grid-template-columns: 30rem 1fr;
        gap: 1.4rem;
        border: 2px solid $light;

        .sidebar {
            background-color: rgb(122, 97, 69);

            &::after {
                background-image: url('../assets/images/man_bg-1-1.jpg');
            }
        }
    }
}

// ======== Gadget Section ========

.gadget-section {
    background-image: url('../assets/images/gadget-feature-bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
    padding: 5rem 0 9rem;
}

.gadget-body {
    width: 80%;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        h3 {
            font-weight: 500;
        }

        a {
            border-radius: 50px;
            padding: 3rem;
        }
    }

    .content {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4rem;

        .item {
            display: flex;
            align-items: center;
            gap: 3rem;
            background-color: $white;
            position: relative;

            &:hover {
                img {
                    opacity: 0.7;
                }
            }

            img {
                width: 24rem;
                height: 24rem;
                padding: 2rem;
                object-fit: cover;
                transition: all 0.3s;
            }

            .fa-star {
                color: $primary;
                font-size: 1.4rem;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                h4 {
                    font-weight: 500;
                }

                .price {
                    color: $secondary;

                    span {
                        text-decoration: line-through;
                        color: $light-gray;
                        margin-right: 1rem;
                    }
                }

                .btn {
                    background-color: $secondary;
                    border-radius: 50px;
                    padding: 1.4rem 3.8rem;

                    &::after {
                        background: green;
                    }
                }
            }

            .favorite {
                position: absolute;
                right: 4rem;
                top: 4rem;
                font-size: 1.8rem;
                color: $primary;

                &:hover {
                    color: $gray;
                }
            }
        }
    }
}

//  ======== Featured Section ========
.features-last {
    height: 100%;
    grid-column: 4/-1;
    grid-row: 1/-1;

    .first {
        height: 100%;
        width: 100%;
        background-image: url('../assets/images/card-1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// ======== Sponsor Section ========
.sponsor-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
    padding: 12rem 30rem;

    .img-box {
        height: 1;
        aspect-ratio: 1/1;

        img {
            object-fit: contain;
        }
    }
}

// ======== Footer Section ========
.footer {}

.footer-body {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    padding: 12rem 6rem;

    .first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        .btn-link {
            display: block;
            width: auto;
            color: $white;
            padding: 1.6rem 3.8rem;
            border-radius: 3px;
            background: $primary;
            font-weight: 500;
            transition: all 0.3s;

            &:hover {
                background-color: green;
                color: $white;
            }
        }
    }

    .second {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
            margin-bottom: 2rem;
        }

        div {
            height: 2rem;
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                height: 2rem;
                object-fit: contain;
            }
        }
    }

    .third {
        h3 {
            margin-bottom: 2rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;

        li {
            a {
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

.footer-bottom {
    background-color: $primary;

    .content {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    .social {
        display: flex;
        gap: 2rem;

        span {
            margin-left: 1rem;
        }
    }
}